extends layout

block content
  .container.mt-5
    .row.justify-content-center
      .col-md-6
        .card
          .card-header.bg-primary.text-white.text-center
            h4.mb-0= title
          .card-body
            form(method='POST')
              .form-group
                label(for='username') Username:
                input#username.form-control(type='text', placeholder='Enter username', name='username', required, value='')

              .form-group
                label(for='password') Password:
                input#password.form-control(type='password', placeholder='Enter password', name='password', autocomplete='off', required)

              button.btn.btn-primary.btn-block(type='submit') Login

            if messages
              .mt-3
                ul.list-unstyled
                  each message in messages
                    li.text-danger= message
